

{% extends 'base.html' %} 

{% block content %}

<meta name="description" content="all arabic fonts list : Download for free at ArabicFonts" />
<meta name="keywords" content="allfonts, allarabicfonts, allarabic fonts,1000+ arabic fonts," />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</header><!-- End Header -->


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1><strong>Modern Arabic fonts</strong></h1>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Allfonts</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->


    


    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry">            

              {% for fonts in fontsfinal %}

              <h2 class="entry-title">
                <a href="{% url 'fonts_details' fonts.slug%}">{{fonts.title}}</a>
              </h2>

              <a href="{% url 'fonts_details' fonts.slug%}"><img src="/static/{{fonts.header_image}}" class="img-fluid" alt="{{fonts.title}}{{fonts.headerimg_alt}}"></a>

              <div class="entry-meta">
                {% comment %} <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{% url 'fonts_details' fonts.slug%}">John Doe</a></li>
                  
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="{% url 'fonts_details' fonts.slug%}">12 Comments</a></li>
                </ul> {% endcomment %}
              </div>              

              <div class="entry-content">
                <p>
                  {{fonts.short_discription}}
                </p>
                <div class="read-more">
                  <a href="{% url 'fonts_details' fonts.slug %}">Download Now</a>
                </div>
              </div>
              <br><br>
              {% endfor %}

            </article><!-- End blog entry -->

            <!-- End blog entry -->

            <!-- End blog entry -->

            <!-- End blog entry -->

            <ul class="pagination justify-content-center"> <p>page: {{ fontsfinal.number }}/{{ fontsfinal.paginator.num_pages }}</p> </ul>

            <div class="blog-pagination">
              <ul class="justify-content-center">
                {% if fontsfinal.has_previous %}

                <li >
                  <a href="?page=1" tabindex="-1">first</a>
                </li>
      
      
                <li>
                  <a href="?page={{fontsfinal.previous_page_number}}" tabindex="-1">Previous</a>
                </li>

                {% endif %}

                {% for num_page in fontsfinal.paginator.page_range %}

                {% if fontsfinal.number == num_page %} 
                
                {% comment %} <li class="active"><a href="?page={{ num_page }}">{{ num_page }}>(current)</a></li> {% endcomment %}

                <li class="active">
                  <a href="?page={{ num_page }}">{{ num_page }} <span class="sr-only"></span></a>
                </li>
                {% else %}

                {% comment %} <li>
                  <a href="?page={{ num_page }}">{{ num_page }} <span class="sr-only"></span></a>
                </li> {% endcomment %}

                
                {% endif %}

                {% endfor %}

                {% if fontsfinal.has_next %}
                  <li class="page-item">
                     <a class="page-link" href="?page={{fontsfinal.next_page_number}}">Next</a>
                  </li>

          
                {% endif %}


              </ul>
            </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form method=POST action="{% url 'search' %}">
                  {% csrf_token %}
                  <input type="text" name="searched">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              

              <h3 class="sidebar-title">Tags</h3>
              
              <div class="sidebar-item tags">
                <ul>
                  {% for tag in alltag %}
                  <li><a href="/">{{tag}}</a></li>
                  {% endfor %}
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
  {% endblock %}
 