{% include "header.html" %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6063622873497016"
crossorigin="anonymous"></script>
<!-- top header -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-6063622873497016"
data-ad-slot="9935112450"
data-ad-format="auto"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% block content %}



{% endblock %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6063622873497016"
crossorigin="anonymous"></script>
<!-- top header -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-6063622873497016"
data-ad-slot="9935112450"
data-ad-format="auto"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


{% include "footer.html" %}