{% extends 'base.html' %} 

{% block content %}

<meta name="description" content="{{fonts_obj.title}} : Download free arabic fonts from Arab Fonts" />
<meta name="keywords" content="{{fonts_obj.title}},{{fonts_obj.metakeyword}},1000+ arabic fonts," />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1><strong>Arabic Fonts Download</strong></h1>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/allfonts">Allfonts</a></li>
            <li>Font download</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              {% comment %} <div class="entry-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div> {% endcomment %}

              

              <h2 class="entry-title">
                <a href="/allfonts">{{fonts_obj.title}}</a>
              </h2>

              {% comment %} <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a> {% endcomment %}

              
              <div class="entry-content">
                <p>
                  {{fonts.title}}
                  
                  {{fonts_obj.short_dis|safe }}
                </p>
                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-download"></i> <a href="/">{{fonts_obj.Total_downloads}}</a></li>
                    {% comment %} <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li> {% endcomment %}
                  </ul>
                </div>
                
{% comment %} 
                <blockquote>
                 
                </blockquote> {% endcomment %}

                
                <img src="/static/{{fonts_obj.header_image}}" class="img-fluid" alt="{{fonts_obj.title}},{{fonts_obj.headerimg_alt}}">

                <div class="read-more">
                  <a href="/static/{{fonts_obj.upload_fonts}}">Download Now</a>
                </div>
                {% comment %} <form action="{{ download. upload_fonts.url }}" method="get">
                              <input type="hidden" name="upload_fonts.url" value="{{upload_fonts.url}}">
                              <button type="submit" class="btn btn-sm btn-primary"> download now</button>
                </form> {% endcomment %}

                <h3>{{fonts_obj.title}}.</h3>
                <p>
                  {{fonts_obj.long_dis|safe}}
                </p>
                <br>

                <h2><strong>{{fonts_obj.title}} Character maping </strong></h2><br><br>

                <img src="/static/{{fonts_obj.char_maping}}" class="img-fluid" alt="{{fonts_obj.title}}{{fonts_obj.charimg_alt}}">
                

              </div>

              <div class="entry-footer">
                <i class="bi bi-award-fill"></i>
                <ul class="cats">
                  <li><a href="#">copyright</a></li>
                </ul>

                <i class="bi bi-check-circle-fill"></i>
                <ul class="tags">
                  <li><a href="/">arab fonts </a></li>
                  
                </ul>
              </div>
              <h2>how to install fonts on computer</h2><br>

              <ol>
                <li>Download the font files. These often come compressed in .zip folders.</li>
                <li>unzip them by right-clicking the .zip folder and then clicking Extract. Now you'll see the available TrueType and OpenType font files:</li>
                <li>Right-click the fonts you want, and click Install.</li>
                <li>If you're prompted to allow the program to make changes to your computer, and if you trust the source of the font, click Yes.</li>
              </ol>


              {% for fonts in allfonts %}
        
                      <h2>{{fonts.title}}</h2>
                      <a href="{% url 'fonts_details' fonts.slug%}"><img src="/static/{{fonts.header_image}}" class="img-fluid" alt="{{fonts.headerimg_alt}}{{fonts.title}}"></a>   
                      
        
                      <div class="entry-meta">
                        {% comment %} <ul>
                          <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{% url 'fonts_details' fonts.slug%}">John Doe</a></li>
                          
                          <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="{% url 'fonts_details' fonts.slug%}">12 Comments</a></li>
                        </ul> {% endcomment %}
                      </div>
        
                      
        
                      <div class="entry-content">
                        <p>
                          {{fonts.short_discription}}
                        </p>
                        <div class="read-more">
                          <a href="{% url 'fonts_details' fonts.slug %}">Download Now</a>
                        </div>
                      </div>
                      {% endfor %} 
              
            </article>            

            {% comment %} <div class="blog-author d-flex align-items-center">
              <img src="assets/img/blog/blog-author.jpg" class="rounded-circle float-left" alt="">
              <div>
                <h4>Jane Smith</h4>
                <div class="social-links">
                  <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                  <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                  <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                </div>
                <p>
                  Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                </p>
              </div>
            </div><!-- End blog author bio -->         {% endcomment %}


             

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              {% comment %} <h3 class="sidebar-title">Categories</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="#">General <span>(25)</span></a></li>
                  <li><a href="#">Lifestyle <span>(12)</span></a></li>
                  <li><a href="#">Travel <span>(5)</span></a></li>
                  <li><a href="#">Design <span>(22)</span></a></li>
                  <li><a href="#">Creative <span>(8)</span></a></li>
                  <li><a href="#">Educaion <span>(14)</span></a></li>
                </ul>
              </div><!-- End sidebar categories--> {% endcomment %}

              {% comment %} <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-1.jpg" alt="">
                  <h4><a href="blog-single.html">Nihil blanditiis at in nihil autem</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-2.jpg" alt="">
                  <h4><a href="blog-single.html">Quidem autem et impedit</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-3.jpg" alt="">
                  <h4><a href="blog-single.html">Id quia et et ut maxime similique occaecati ut</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-4.jpg" alt="">
                  <h4><a href="blog-single.html">Laborum corporis quo dara net para</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-5.jpg" alt="">
                  <h4><a href="blog-single.html">Et dolores corrupti quae illo quod dolor</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

              </div><!-- End sidebar recent posts-->  {% endcomment %}

              <h3 class="sidebar-title">Tags</h3>
                <div class="sidebar-item tags">
                <ul>
                  <li><a href="/">{{fonts_obj.title}}</a></li>
                  {% for tag in alltag %}
                  <li><a href="/">{{tag}}</a></li>
                  {% endfor %}
                                  
                  
                </ul>
              </div><!-- End sidebar tags--> 

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->
 {% endblock %}
