{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>
    {% if title %}
    {{title}}  Download Free Arabic Fonts | Best Modern Arabic Fonts
    
  {% else %}
  Download Free Arabic Fonts | Best Modern Arabic Fonts
  
  {% endif %}</title>
  
  
  {% comment %} <meta name="description" content="Download 3000+ free fonts in Arabic style. Make your web calligraphically beautiful using unique Arabic fonts." />
    <meta name="keywords" content="arabfonts, arabicfonts, arabic fonts, arab fonts, download arabic fonts, arabic fonts download, " />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {% endcomment %}

  <!-- Favicons -->
  <link href="/static/{{websitedata.favicon}}" rel="icon">
  {% comment %} <link href="/media/assets/img/apple-touch-icon.png" rel="apple-touch-icon"> {% endcomment %}

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">


  


  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5KS2XRV0GJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5KS2XRV0GJ');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6063622873497016"
     crossorigin="anonymous"></script>

  <!-- =======================================================
  * Template Name: Sailor - v4.7.0
  * Template URL: https://bootstrapmade.com/sailor-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center">
         
        {% comment %} <h1 class="logo me-auto"><a href="/">{{ websitedata.websitename }}</a></h1> {% endcomment %}

        
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/" class="logo me-auto"><img src="/static/{{websitedata.logo}}" alt="arab fonts" class="img-fluid"></a>

        
  
        <nav id="navbar" class="navbar">
          
          <ul>
            <li><a href="/">Home</a></li> 
            
            <li><a href="/mostdownloaded">Most downloaded</a></li>
            
            
            <li><a href="/allfonts">Allfonts</a></li>
  
            <li><a href="/contact">Contact</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/help" class="getstarted">Get Help</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
      </div>


      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6063622873497016"
     crossorigin="anonymous"></script>
<!-- download button -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6063622873497016"
     data-ad-slot="2116316274"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    
