
{% extends 'base.html' %} 

{% block content %}  
{% load static %}

<meta name="description" content="Download 3000+ free fonts in Arabic style. Make your web calligraphically beautiful using unique Arabic fonts." />
<meta name="keywords" content="" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</header><!-- End Header -->
  
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Installation guide</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/help">Blog</a></li>
            <li>Blog Single</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="{% static 'assets/img/blog/linuxinstall.jpg' %}" alt="install arabic fonts on linux and mac , arab fonts" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="/">Font installation Guide on mac and linux</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/">Darkseid</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/l"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                  
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  Installing fonts on mac and linux os is simple process follow the installation guide below.
                </p>

                

                <blockquote>
                  <p>
                    At first download the font you want to install from "arabfonts.org"
                  </p>
                </blockquote>

                <p>
                  There are two type of installation, GUI installation and from terminal
                </p>

                <h3>GUI (graphical user interface) installation.</h3>
                <p>
                  <ul>
                      <p><strong>On Mac</strong></p>
                      <li>Open Finder and click on the Go section in the upper menu </li>
                      <li>Select Go to Folder in the drop-down menu and click on it </li>
                      <li>Type ~/Library/Fonts in the pop-up window and click Go</li>
                      <li>The Fonts folder will show up</li>
                      <li>Copy and paste (you can also drag and drop) all the unzipped font files to the Fonts folder</li>
                      <br>
                      <br><p><strong>On Linux </strong></p>
                      <li>The downloaded fonts are usually in a zipped file. Extract the zip file in Linux by right-clicking and selecting extract.</li>
                      <li>Now go to this extracted folder and look for .ttf (TrueType Fonts) or .otf (openType Fonts) files</li>
                      <li>Whichever it may be, just double-click on the font file. It will open it in Font Viewer application. In here, you can see the option to install the font in the top-right corner:</li>
                      <li>You won’t really see anything being installed as you see when installing a software. Couple of seconds later, you’ll see the status has been changed to “Installed“. No prizes for guessing that the font has been now installed.</li>
                      <li>Once installed, you can see the newly installed fonts in any application that uses fonts such as GIMP, Pinta etc.</li>
                  </ul>

                </p>
                

                <h3>Terminal Installation method</h3>
                <p>
                  <ul>
                    <p><strong>On Mac</strong></p>
                    <li>Step 1 : Pull the fonts to your system </li>
                      <p>$ curl -L -O https://github.com/source-foundry/Hack/releases/download/v3.003/Hack-v3.003-ttf.tar.gz</p>
                    <li>Step 2 : Unpack the font archive </li>
                      <p> $ tar -xzvf Hack-v3.003-ttf.tar.gz </p>
                    <li>Step 3 : Install the fonts</li>
                      <p>$ mkdir ~/.local/share/fonts</p>
                      <p>mv ttf/Hack-Regular.ttf ~/.local/share/fonts/Hack-Regular.ttf</p>
                        <p>$ mv ttf/Hack-Italic.ttf ~/.local/share/fonts/Hack-Italic.ttf</p>
                        <p>$ mv ttf/Hack-Bold.ttf ~/.local/share/fonts/Hack-Bold.ttf</p>
                        <p>$ mv ttf/Hack-BoldItalic.ttf ~/.local/share/fonts/Hack-BoldItalic.ttf</p>
                    <li>Step 4 : Clear and regenerate your font cache</li>
                      <p>$ fc-cache -f -v</p>
                    <li>Step 5 : Verify the installation</li>                   
                      <p>$ fc-list | grep "Hack"</p>
                    <li>Step 6 : Cleanup</li>
                      <p>$ rm -rf ttf && rm Hack-v3.003-ttf.tar.gz</p>
                    
                </ul>
                <p>
                  Now you are good to go.
                </p>

              </div>

              

            </article><!-- End blog entry -->

            <div class="blog-author d-flex align-items-center">
              <img src="{% static 'assets/img/team/team-2.jpg' %}" class="rounded-circle float-left" alt="arabic fonts darkseid">
              <div>
                <h4>Dsarkseid</h4>
                <div class="social-links">
                  <a href="/"><i class="bi bi-twitter"></i></a>
                  <a href="/"><i class="bi bi-facebook"></i></a>
                  <a href="/"><i class="biu bi-instagram"></i></a>
                </div>
                <p>
                  Hope this article help you to install fonts into your system. if you have any feedback connect with us in contact us page
                </p>
              </div>
            </div><!-- End blog author bio -->

            

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              {% comment %} <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn--> {% endcomment %}

              {% comment %} <h3 class="sidebar-title">Categories</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="#">General <span>(25)</span></a></li>
                  <li><a href="#">Lifestyle <span>(12)</span></a></li>
                  <li><a href="#">Travel <span>(5)</span></a></li>
                  <li><a href="#">Design <span>(22)</span></a></li>
                  <li><a href="#">Creative <span>(8)</span></a></li>
                  <li><a href="#">Educaion <span>(14)</span></a></li>
                </ul>
              </div><!-- End sidebar categories--> {% endcomment %}

              {% comment %} <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-1.jpg" alt="">
                  <h4><a href="blog-single.html">Nihil blanditiis at in nihil autem</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-2.jpg" alt="">
                  <h4><a href="blog-single.html">Quidem autem et impedit</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-3.jpg" alt="">
                  <h4><a href="blog-single.html">Id quia et et ut maxime similique occaecati ut</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-4.jpg" alt="">
                  <h4><a href="blog-single.html">Laborum corporis quo dara net para</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-5.jpg" alt="">
                  <h4><a href="blog-single.html">Et dolores corrupti quae illo quod dolor</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">App</a></li>
                  <li><a href="#">IT</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Mac</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Office</a></li>
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Studio</a></li>
                  <li><a href="#">Smart</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Marketing</a></li>
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar --> {% endcomment %}

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->

{% endblock %}